.border-right-secondary {
    border-right: 0.25rem solid #858796 !important;
}

.pagination .page-item.active .page-link{
    background-color: #484A54!important;
    border-color: #484A54!important;
}


.custom-select-pagination{
    width: 60px!important;
}

.text-tiny{
    font-size: 0.75rem;
}

.detail-label{
    display: inline-block;
    width: 10rem!important;
    text-transform: uppercase;
    vertical-align: top;
}
.detail-value{
    display: inline-block;
    max-width: 40rem!important;
}
.detail-separator{
    display: inline-block;
    width: 2rem!important;
    text-align: center;
    vertical-align: top;
}